.books-page {
    padding-top: 60px;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1C2A39;
        text-transform: uppercase;
        // margin-bottom: 20px;
        text-align: center;
        width: max-content;
        margin: 0 auto 40px;

        &::after {
            content: '';
            display: block;
            width: 35px;
            height: 3px;
            background-color: #534FD2;
            margin: 5px auto 0; 
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
    }
}