.similar-book {
  &__container {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #e0e2e6;

  }

  &__row {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  .similar-book__title {
    padding: 0 16px;
  }

}



@media (max-width: 767.98px) {

  .similar-book__row {
    overflow-x: scroll;
  }

  .similar-book__container {
    border: none;
    margin: 0;
    width: auto;
    padding: 25px 0px 80px 16px;
  }
}

@media (max-width: 575.98px) {}