.title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;

    // &::after {
    //     content: '';
    //     display: block;
    //     height: 3px;
    //     width: 50px;
    //     margin-top: 23px;
    //     background: #FFCA42;
    //     border-radius: 0px;
    // }
}