.title {
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    text-transform: capitalize;
    color: #1B3764;

    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 50px;
        margin-top: 23px;
        background: #FFCA42;
        border-radius: 0px;
    }
}