.explore {

  &__container {
    padding: 0 16px;
  }
  .books-container {
    margin-bottom: 50px;
  }
  .books-container__box{
    padding: 0;
  }

  &__box {
    margin: 0 0 41px;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    background: #313333;
    border: 1px solid #626666;
    border-radius: 8px;
  }

  &__label {
    width: 16px;
    height: 16px;
    background: center/cover no-repeat url(../../img/akar-icons_search-icon.svg);
    margin-right: 10px;
  }

  &__input {
    &:focus {
      outline: none;
    }

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #939999;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__title {
    width: max-content;
    border-bottom: 2px solid #CDE7BE;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--brand-color);
    margin: 0 0 25px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--brand-color);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
  }
  .books-container__row{
    padding: 0;
  }
  &__item {
    background: #313333;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0 4px 15px;
    width: max-content;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 14px;
    color: #EAF4F4;
  }
}