.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: var(--inverse-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 400px;
    height: 400px;
    background: center/contain no-repeat url(../../img/99318-hms-loading.gif);
  }
}
