.preview {
    position: relative;
    background-color: var(--inverse-color);
    background-image: url(../../img/bg-prewew.png);

    &_link {
        position: absolute;
        right: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #1C2A39;
        display: flex;
        align-items: end;
        padding: 20px;
        cursor: pointer;

        span {
            &::after {
                content: '';
                display: block;
                width: 55px;
                height: 12px;
                background: no-repeat url(../../img/arrow.svg);
                margin-top: 4px;
            }
        }

        &_violet {
            top: 79px;
            right: -100px;
            width: 149px;
            height: 204px;
            background: #9E98DC;
        }

        &_pink {
            width: 137px;
            height: 273px;
            background: #FF8FE6;
            bottom: 79px;
            right: -210px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        line-height: 72px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 64px;
        color: var( --brand-color);

        span {
            color: var(--accent-color);
            text-align: left;
            line-height: 72px;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 64px;
        }
    }

    &__image {
        background-image: url(../../img/undraw_books_re_8gea.svg);
        background-repeat: no-repeat;
        width: 941px;
        height: 500px;
        background-size: contain;
        background-position: center;
        // transform: scale(1.2);
    }


    &__desc {
        margin-top: 18px;
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        color: var(--secondary-color);
    }

    &__info {
        background: var(--main-color);
        box-shadow: 0px 25px 50px rgba(189, 189, 189, 0.25);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px -10px 0;
        padding: 29px 15px;

    }

    &__box {
        width: 65px;
        height: 65px;
        background: var(--brand-color);
        min-width: 65px;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;

    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0 10px;

        p {
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;

            span {
                display: block;
                font-weight: 400;
                font-size: 12px;
                line-height: 21px;
                text-transform: uppercase;

                color: #606775;

            }


        }
    }

    // .tracking-in-expand{-webkit-animation:tracking-in-expand .8s ease-in-out both;animation:tracking-in-expand .8s ease-in-out both}
}