.preview {
    position: relative;
    background-color: #fefefe;
    background-image: url(../../img/bg-prewew.png);

    &_link {
        position: absolute;
        right: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #1C2A39;
        display: flex;
        align-items: end;
        padding: 20px;
        cursor: pointer;

        span {
            &::after {
                content: '';
                display: block;
                width: 55px;
                height: 12px;
                background: no-repeat url(../../img/arrow.svg);
                margin-top: 4px;
            }
        }

        &_violet {
            top: 79px;
            right: -100px;
            width: 149px;
            height: 204px;
            background: #9E98DC;
        }

        &_pink {
            width: 137px;
            height: 273px;
            background: #FF8FE6;
            bottom: 79px;
            right: -210px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        line-height: 72px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 64px;

        span {
            color: var(--orange-color);
            text-align: left;
            line-height: 72px;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 64px;
        }
    }

    &__image {
        background-image: url(../../img/girl-reading-books-online.png);
        background-repeat: no-repeat;
        width: 941px;
        height: 500px;
        background-size: contain;
        background-position: center;
        transform: scale(1.2);
    }


    &__desc {
        margin-top: 18px;
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        color: var(--grey-color);
    }
}