.footer {
  display: flex;
  align-items: flex-end;

  &__container {
    background: var(--primiry-color);

    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    color: var(--inverse-color);
  }

  &__title {
    // max-width: 1120px;
    // width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    font-size: 15px;

    a {
      &:hover {
        transform: scale(1.1);
      }

      margin-left: 5px;
      text-transform: uppercase;
      color: var(--inverse-color);
      border-bottom: 1px solid;
    }
  }
}

@media (max-width: 767.98px) {
  .footer {
    display: none;
  }
}