[data-theme="light"] {
    --main-color: rgb(255, 255, 255);
    --primiry-color: #f7f8f9;

    --secondary-color: #606775;
    --brand-color: #121823;
    --accent-color: #f18e7d;
    --inverse-color: #fefefe;
}

[data-theme="dark"] {
    --primiry-color: #424242;;
    --secondary-color: rgb(255, 255, 255, 0.7);
    --main-color:#080808;
    --brand-color: rgb(255, 255, 255);
    --accent-color: #f18e7d;
    --inverse-color: #212121;
}