[data-theme="light"] {
    --grey-color: #606775;
    --white-color: rgb(255, 255, 255);
    --dark-color: #121823;
    --orange-color: #f18e7d;
}

[data-theme="dark"] {
    --grey-color: #000000;
    --white-color: #121823;
    --dark-color: rgb(255, 255, 255);
    --orange-color: #db2100;
}