[data-theme="light"] {
    --main-color: rgb(255, 255, 255);
    --primiry-color: #f7f8f9;

    --secondary-color: #606775;
    --brand-color: #121823;
    --accent-color: #f18e7d;
    --inverse-color: #fefefe;
}

[data-theme="dark"] {
    --main-color:#19191a;

    --primiry-color: #454647;;
    --secondary-color: #7c8285;
    --brand-color: #e1e3e6;;
    --accent-color: #f3a99c;
    --inverse-color:#19191a;
}