.book-card {
    max-width: 263px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;


    &__box {
        background: #F8F9FA;
        border-radius: 0px 10px 10px 0px;
        padding: 40px 40px 0;
        margin: 0 0 28px;
        position: relative;
        overflow: hidden;

        &:hover {
            cursor: pointer;

            .book-card__content {
                opacity: 1;
            }
        }
    }

    &__img {
        &_undefined{
           background:center/contain no-repeat url(../../img/undraw_creative_thinking_re_9k71.svg);
        }
        display: block;
        margin: 0 auto;
        filter: drop-shadow(9px 10px 5px rgba(92, 92, 92, 0.2));
        border-radius: 0px 10px 10px 0px;
        width: 84%; 
        height: 227px;
        background-repeat: no-repeat;
        background-size:  100%;
        background-position-y: center;
    
    }

    &__subject {
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
        color: var(--grey-color);
        text-align: center;
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 96px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: var(--dark-color);
        margin-bottom: 4px;
    }

    &__author {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: var(--dark-color);
        text-align: center;

        span {
            color: var(--grey-color);
        }
    }

    &__content {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        padding: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--orange-color);
        opacity: 0.5;
    }

    &__links {
        position: relative;
        z-index: 9;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 -10px;
    }

    &__link {
        margin: 0 10px;
        background-color: var(--white-color);
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: var(--dark-color);

            .book-card__icon {
                color: var(--white-color);
            }
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        font-size: 18px !important;
        color: var(--dark-color);
    }
}