@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("./components/styles/styles.scss");

/* rt url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); */
* {
  transition: all 0.3s ease;
}
html,
body,
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between  ; */
}
footer {
  flex-grow: 1;
}
html {
  overflow-x: hidden;
}
.h4 {
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--brand-color);
  line-height: 1.4;
  margin: 0;
}
.h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--brand-color);
  line-height: 1.4;
}
.wrapper {
  position: relative;
  font-family: "Jost", sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: px 0px;
}
.title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: var(--brand-color);
  font-weight: 700;
}
.main {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.overflow-hidden {
  overflow: hidden;
}

.pagination div,
.pagination button{

  
  color: var(--brand-color);
}
.pagination li:nth-child(1) {
  display: none;
}
.pagination li:last-of-type {
  display: none;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
