@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("./components/styles/styles.scss");

/* rt url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); */
* {
  transition: all 0.3s ease;
}

html,
body,
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between  ; */
}

footer {
  flex-grow: 1;
}

body,
html {
  // overflow-x: hidden;
}

.h4 {
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--brand-color);
  line-height: 1.4;
  margin: 0;
}

.h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--brand-color);
  line-height: 1.4;
}

.wrapper {
  position: relative;
  font-family: "Jost", sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
}

.title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: var(--brand-color);
  font-weight: 700;
}

.main {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.pagination div,
.pagination button {
  color: var(--brand-color);
}

.pagination li:nth-child(1) {
  display: none;
}

.pagination li:last-of-type {
  display: none;
}

body[data-theme="dark"] {
  .preview__info {
    box-shadow: 0px 25px 50px rgba(60, 60, 60, 0.25);
  }

  .desc-book__img::after {
    transform: rotate(0deg);
    background: linear-gradient(180deg, rgba(24, 25, 25, 0) 0%, rgba(24, 25, 25, 0.6) 41.9%, #181919 95.03%);
  }

  .label__link::after {
    background: center/cover no-repeat url(./img/arrow-right-light.svg);
  }

  .preview__box svg {
    color: var(--main-color);
  }

  .book-card__img {
    filter: drop-shadow(9px 10px 5px rgba(0, 0, 0, 0.2));
  }

  .header__logo {
    background-image: url(../src/img/books-low-resolution-logo-white-on-transparent-background.svg);
  }

  .loading {
    background-color: var(--primiry-color);

    &__container {
      background: center/contain no-repeat url(../src/img/animation_500_lg0tp3ax.gif);
    }
  }
}
._error {
  position: relative;

  &::before {
    content: attr(data);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 11px;
    color: red;
  }

  input {
    outline: 1px solid red;
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .wrapper {
    // padding: 0 10px;
    // width: auto;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 575.98px) {
}
