.results-search {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.column {
      flex-direction: column;

      .book-card {
        max-width: 70%;
        margin-bottom: 15px;
      }

      .book-card__img {
        max-width: 166px
      }

      .book-card__box {
        min-width: 184px;
        margin-right: 25px;
        margin-bottom: 0;
        padding: 20px 20px 0;
      }

      .book-card__container {
        align-items: center;
        display: flex;
        width: 100%;
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 25px;
    position: relative;
    z-index: 9;
  }

  .lodaing__container {
    background-position: bottom;
  }

  &__title {
    position: relative;
    z-index: 9;
    padding: 15px;
    font-size: 20px;
    color: var(--inverse-color);
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--brand-color);

    span {
      font-weight: 600;
      text-transform: initial;
      // text-decoration: underline;
    }
  }

}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

.mobile-results {
  display: none;
}

@media (max-width: 767.98px) {
    .results-search__flex {
    padding: 8px 0;
    }

  .mobile-results {
    display: block;
  }
  .results-search__title{
    background: transparent;
    padding: 5px 16px;
    color: var(--brand-color);
  }
  .result-title{
    display: none;
  }

  .results-search {
    .book-card {
      max-width: 48%;
    }

    .book-card__img {
      width: 154px;
      height: 194px;
    }

    .book-card__name {
      max-width: 100%;
    }
  }
}

@media (max-width: 575.98px) {}