.books-container {
    padding-top: 60px;
    position: relative;

    &__title {
        color: var(--brand-color);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // width: 85%;
        margin: 0 auto;
    }

    &__box {
        max-width: max-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    position: relative;
}

.swiper-container {
    svg {
        color: var(--brand-color);
    }

    position: absolute;
    top: 28%;
    left: -5%;
    width: 110%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-button {
    cursor: pointer;
    transform: scale(2);
}

@media (max-width: 1399.98px) {
    .swiper-container {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .books-container__box{
        width: auto;
        max-width: 100%;
        padding: 0 16px;
        margin: 0 0 16px;
    }
}

@media (max-width: 575.98px) {}