.books-container {
    padding-top: 60px;
    position: relative;

    &__title {
        color: var(--dark-color);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // width: 85%;
        margin: 0 auto;
    }

    &__box {
        max-width: max-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    position: relative;
}

.swiper-container {
    position: absolute;
    // z-index: 99;
    left: -5%;
    width: 110%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-button {
    cursor: pointer;
    transform: scale(2);
}