.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__content {
        max-width: max-content;
        width: 100%;
        min-width: 500px;

    }

    &__icons {
        display: flex;
        justify-content: space-between;
        max-width: 120px;
        width: 100%;
    }

    &__icon {
        background-image: url(../../img/icon.svg);
        background-size: cover;
        width: 25px;
        height: 25px;

        &_search {
            background-position-x: 50%;
        }

        &_basket {
            background-position-x: 100%;
        }
    }

    &__logo {
        width: 200px;
        height: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../../img/books-low-resolution-logo-color-on-transparent-background.png);
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0 -15px;
        justify-content: space-between;
    }

    &__item {
        margin: 0 15px;
        white-space: nowrap;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: var(--grey-color);

        &:hover,
        &:active,
        &_active {
            color: var(--dark-color);
        }
    }

    &__search {
        .fav {
            color: #ffffff;
        }

        .fav:hover {
            color: #ffffff;
        }

        &:hover {
            transform: scale(1.1);
        }

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        background-color: var(--dark-color);


    }

    &__box {
        max-width: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__basket {
        width: 17px;
        height: 17px;
        display: block;
        background-image: url(../../img/basket.svg);
        background-repeat: no-repeat;
    }

    &__favorite {
        position: relative;
        background-color: #f8f9fa;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__meta {
        &::before {
            content: attr(data-count);
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #29ccab;
            display: inline-block;
            position: absolute;
        }


    }

    &__form {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #cedce2;
    }

    &__input {

        height: 20px;
        padding: 10px 0;
        outline: none;
        font-size: 15px;
        background-color: transparent;
        color: #7d6a6a;
        border: none;

        width: 100%;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;

        &.css-i4bv87-MuiSvgIcon-root {
            font-size: 20px;
            cursor: pointer;

        }
    }
}

.hidden {
    display: none;
}

// .checkbox {
//     opacity: 0;
//     position: absolute;
// }

// .label-checkbox {
//     width: 50px;
//     height: 26px;
//     background-color: #111;
//     display: flex;
//     border-radius: 50px;
//     align-items: center;
//     justify-content: space-between;
//     padding: 5px;
//     position: relative;
//     transform: scale(1.5);
// }

// .ball {
//     width: 20px;
//     height: 20px;
//     background-color: white;
//     position: absolute;
//     top: 2px;
//     left: 2px;
//     border-radius: 50%;
//     transition: transform 0.2s linear;
// }

// /*  target the elemenent after the label*/
// .checkbox:checked+.label-checkbox .ball {
//     transform: translateX(24px);
// }

// .fa-moon {
//     color: pink;
// }

// .fa-sun {
//     color: yellow;
// }