.reset-password {
  height: 100%;
  display: flex;
  align-items: center;
  &__container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 50px;
  }
  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin: 0 auto 10px;
  }
  &__box {
    margin: 0 auto;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4d47c3;
    text-transform: uppercase;
    margin-top: 15px;
    &:hover {
      transform: scale(1.1);
    }
    svg {
      font-size: 15px;
      margin-right: 10px;
    }
  }
  &__desc {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
