.label {
    width: max-content;
    margin: 0 auto;
    // position: relative;

    &__info {
        padding: 6px 19px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #424044;
        background: #F8F9FA;
        border-radius: 4px;
        width: max-content;
        margin: 0 auto 12px;
    }

    &__title {
        margin-bottom: 18px;

    }

    &__desc {
        text-align: center;
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
        width: 80%;
        color: var(--grey-color);
        margin: 0px auto 40px;


    }

    &__link {
        cursor: pointer;
        z-index: 99;
        position: absolute;
        right: 0;
        bottom: 70%;
        text-transform: uppercase;
        color: var(--grey-color);
        font-size: 15px;
        text-align: center;
        margin: 0px auto 0;
        display: flex;
        align-items: center;
        font-weight: 700;

        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 0.5px;
            position: absolute;
            background: var(--dark-color);
            bottom: -2px;
        }

        &:hover {
          

            transform: scale(1.1);
            color: var(--dark-color)
        }
    }
}