.label {
    width: max-content;
    margin: 0 auto;
    // position: relative;

    &__info {
        padding: 6px 19px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #424044;
        background: #F8F9FA;
        border-radius: 4px;
        width: max-content;
        margin: 0 auto 12px;
    }

    &__title {
        margin-bottom: 18px;

    }

    &__desc {
        text-align: center;
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
        width: 80%;
        color: var(--secondary-color);
        margin: 0px auto 40px;


    }

    &__link {
        cursor: pointer;
        z-index: 99;
        position: absolute;
        right: 0;
        bottom: 70%;
        text-transform: uppercase;
        color: var(--secondary-color);
        font-size: 15px;
        text-align: center;
        margin: 0px auto 0;
        display: flex;
        align-items: center;
        font-weight: 700;

        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 0.5px;
            position: absolute;
            background: var(--brand-color);
            bottom: -2px;
        }

        &:hover {


            transform: scale(1.1);
            color: var(--brand-color)
        }
    }
}

@media (max-width: 767.98px) {

    .label__info,
    .label__desc {
        display: none;
    }

    .label__link {
        margin: 0;
        position: relative;
    }

    .label {
        &__title {
            margin: 0;
            font-weight: 700;
            font-size: 35px;
            line-height: 35px;
        }

        &__link {
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            text-transform: none;
            display: flex;
            // align-items: center;

            &::after {
                content: '';
                display: flex;
                position: relative;
                // vertical-align: middle;
                width: 25px;
                height: 25px;
                margin-left: 5px;
                border-radius: 50%;
                background: center/cover no-repeat url(../../img/arrow-right.svg);

            }

            svg {
                display: none;
            }
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}