.favorite-books {
    padding: 20px 0 20px;
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
       
        // width: 70%;
        // justify-content: center;
        // flex-direction: row-reverse; 
        // justify-content: flex-start;
    }

    .book-card__info {}

    .book-card__img {
        background-position: center;
        background-size: contain;
    }

    .book-card {
        max-width: 222px;
    }

    .book-card__box {
        padding: 10px 15px 0;
    }

    .book-card {
        margin-right: 15px;
    }



    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #1C2A39;
        text-transform: uppercase;
        width: max-content;
        margin: 0 auto 35px;
    }
}