@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.sign-up {
  &__row {
    // display: flex;
  }

  &__form {
    max-width: 400px;
    width: 100%;
    // margin-bottom: 64px;
  }

  &__marker {
    margin-top: 64px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #b5b5b5;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin: 45px auto 0;
    padding: 0 0 100px;
  }

  &__icon {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    cursor: pointer;

    &.facebook {
      background: center/contain no-repeat url(../../img/facebook-icon.svg);
    }

    &.github {
      border-radius: 50%;
      background: center/cover no-repeat url(../../img/github-icon-logo-png-transparent.png), #ffffff;
    }

    &.google {
      background: center/contain no-repeat url(../../img/google-icon.svg);
    }
  }
}

.form {
  font-family: "Poppins", sans-serif;
  display: block;

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: var(--brand-color);
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--brand-color);
    margin-bottom: 30px;

    span {
      display: block;

      a {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #4d47c3;
      }
    }
  }

  &__password {
    position: relative;
    width: inherit;
  }

  &__submit {
    cursor: pointer;
    background: #4d47c3;
    box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
    border-radius: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 15px;
    width: 100%;
  }

  &__reset-password {
    margin: 15px auto 0 0;
    text-align: right;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #b0b0b0;
    &:hover{
      color: #4D47C3;;
    }
  }

  &__input {
    width: 92%;
    border: none;
    outline: none;
    background: #f0efff;
    border-radius: 8px;
    padding: 20px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 29px;
    }

    &::placeholder {
      color: #a7a3ff;
    }
  }
}

.icon-eye {
  &.active {
    background: center/contain no-repeat url(../../img/view.png);
  }

  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 18px;
  width: 30px;
  height: 30px;
  background: center/contain no-repeat url(../../img/hide.png);
}
